{% extends "layout.html" %} {% block pageTitle %} GOV.UK page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <p>
     Dear Veteran,
    </p>
    
    <p>
     You have successfully proved your veteran status and identity.
    </p>
    
    <p>
     Please follow the link below to download your digital veteran card.
    </p>
    
    <p><a href="">veteranCardSeqNum/183y76/test/
    289</a></p>
   

    <p>You will receive your physical veteran card in 7-10 days. If there are any issues with your card arriving please <a href="#">contact us</a>.</p>
    
    <p>
     You can update your details or reprt your card stolen/missing <a href="#">here</a>.
    </p>
    
    <p>
     You can use your digital or physical veteran card in the same way to show your veteran status.
    </p>
    
    <p>
    Thank you for applying via our service.
    </p>
  

    <p>
      <a href="#" target="_new">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
</div>

{% endblock %}
