{% extends "layout.html" %} {% block pageTitle %} {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({
tag: { text: "alpha" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
<a class="govuk-back-link" href="/question_name_at_discharge">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Please upload documents to provide evidence of your name change</h1>
    
    <p>These can include copies of:</p>
    
    <ul class="govuk-list govuk-list--bullet">
        <li>marriage certificates</li>
        <li>civil partnership certificates</li>
        <li>gender recognition certificates (GRCs)</li>
        <li>deed poll documentations</li>
        <li>adoption order or certificates</li>
        <li>statutory declarations</li>
        <li>affidavits</li>
        <li>certificates from the Court of the Lord Lyon of Scotland</li>

    </ul>

    <form class="form" action="certificate_upload_radio" method="post">
    
      {{ govukFileUpload(
        { id: "certificate_upload", 
         name:"certificate_upload", 
         label: { text: "Upload a file" }, 
         errorMessage: error }) }}
  
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with providing proof of a name change
          </span>
        </summary>
        <div class="govuk-details__text">
         <p> We need to check the link between the name you’re using now and any previous names you tell us about.</p> 
         <p>If you need help with this, contact <a href="https://www.gov.uk/guidance/veterans-uk-contact-us" target="_new" rel="noreferrer noopener">Veterans UK</a>.</p>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
