{% extends "layout.html" %} {% block pageTitle %} {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({
tag: { text: "alpha" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
<a class="govuk-back-link" href="/question_name_at_discharge">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Upload a copy of your marriage or deed poll certificate</h1>

    <p>
      Instructions on how this needs to be presented here....
    </p>

    {# <img src="/public/images/govuk_head_photo.png" alt="User photo" /> #} {#
    <h1 class="govuk-heading-s">
      Do you want us to use this image for your card?
    </h1>
    #}

    {# <p>Your digital photo must be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>clear and in focus</li>
      <li>in colour</li>
      <li>against a plain, light-coloured background</li>
      <li>your true likeness, with no photoshop or filters</li>
      <li>at least 600 x 750 pixels</li>
      <li>JPG, PNG or GIF format - min 50KB, max 20MB</li>
    </ul> #}

    {# <p>In your photo, you must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>face forwards, looking straight at the camera</li>
      <li>be alone, with no other objects or people</li>
      <li>have a plain expression</li>
      <li>have eyes open and visible, with no hair in front of them</li>
      <li>
        not wear sunglasses, but normal glasses are fine if you typically wear
        them
      </li>
      <li>
        not have a head covering (apart from religious or medical reasons)
      </li>
      <li>not have ‘red-eye’, glare or shadows over your face</li>
    </ul> #}

    <form class="form" action="question_service_number" method="post">
    
      {{ govukFileUpload(
        { id: "certificate_upload", 
         name:"certificate_upload", 
         label: { text: "Upload a file" }, 
         errorMessage: error }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
