{% extends "layout.html" %} {% block pageTitle %} {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="/sp4v1_start_veteran_verify">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <form class="form" action="/eligibility-one" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "former-member",
          name: "former-member",
          fieldset: {
            legend: {
              text: "Are you a former member of HM Armed Forces?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ],
          errorMessage: error
        }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

</div>

{% endblock %}
