{% extends "layout.html" %} {% block pageTitle %} {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="/eligibility-one">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <form class="form" action="/eligibility-two" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "uk-resident",
          name: "uk-resident",
          fieldset: {
            legend: {
              text: "Do you live in the UK?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ],
          errorMessage: error
        }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
</div>

{% endblock %}
