{% extends "layout.html" %} {% block pageTitle %} {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
{{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
<a class="govuk-back-link" href="/govuk_account_password">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You are signed in to  GOV.UK</h1>

    <form class="form" action="/question_service_number" method="post">
    
    

    <p>We will now ask you a few questions about your service and which format you'd like your Veteran's ID card in.</p>
    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
