{% extends "layout.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
  <a class="govuk-back-link" href="/govuk_create_or_sign_in">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Enter your password</h1>
      

      <form class="form" action="govuk_create_check_email" method="post">

        {{ govukInput({
          label: {
            isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "govuk_password",
        name: "govuk_password",
        type: "password",
        value: data['govuk_password']
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
