{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
    
     <a class="govuk-back-link" href="/question_discharge_date">Back</a>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Prove your identity to continue
      </h1>   

      <p>You need to prove your identity before you can continue. You'll need an account to do this </p>

      <p>This will help protect you against online identity theft.</p>
      
       <form class="form" action="/govuk-prove-id-start-answer" method="post">
      
     {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "govuk-prove-id-confirmation-check",
        name: "govuk-prove-id-confirmation-check",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        errorMessage: {
          text: "You must confirm you have read and understood by clicking on the confirmation box"
        },
        items: [
          {
            value: "govuk-prove-id-confirmation-check-agree",
            text: "By continuing, I agree that I have read and understood the basic DBS check online application privacy policy (opens in a new tab). I understand how the DBS will process my personal data when I'm applying online, before my application is submitted"
          }
        ]
      }) }}
      
      <button class="govuk-button" data-module="govuk-button">Continue</button>
      
    </form>

    </div>
  </div>
{% endblock %}
