{% extends "layout.html" %} {% block pageTitle %} {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="/govuk_account_sign_in">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Enter your password</h1>


    <form class="form" action="/govuk_account_password_input" method="post">
    
      {{ govukInput({
            label: {
               text: ""
          },
          classes: "govuk-input--width-20",
          id: "govuk_password",
          name: "govuk_password",
          type: "password",
          errorMessage: error
          }) }}
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I've forgotten my password
          </span>
        </summary>
        <div class="govuk-details__text">
          If you need to reset your GOV.UK password, click <a href="govuk_create_check_email">here</a>
        </div>
      </details>
    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
