{% extends "layout.html" %} 

{% block pageTitle %} Home – GOV.UK Prototype Kit 
{%
endblock %} 

{% block beforeContent %}
    {{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Prototype your service using GOV.UK Prototype Kit
      <span class="govuk-caption-xl">{{releaseVersion}}</span>
      <span class="govuk-caption-l">Digital prototype sprint 6 v0.1</span>
    </h1>
    {{releaseVersion | log }}

    <form class="form" action="/sp4v1_start_veteran_verify_choice" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        
        {{ govukRadios({
          idPrefix: "start_veteran_match_status",
          name: "start_veteran_match_status",
          fieldset: {
            legend: {
              text: "Please select record match success or fail journey",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Success",
              text: "happy path - user automatically matched",
              checked: checked("start_veteran_match_status", "Success")
             
            },
            {
              value: "Fail",
              text: "unhappy path - needs manual verification after",
              checked: checked("start_veteran_match_status", "Fail")
             
            }
          ],
          errorMessage: error
        }) }}
        
         <h2 class="govuk-heading-s">Please note - when asked for your GOV.UK account</h2>
         <ul class="govuk-list govuk-list--bullet">
          <li>enter an email which you have access to in order to receive the summary email on completion of the user journey</li>
          <li>you can enter any password</li>
         </ul>
         
        
       {{ govukButton({
          text: "Apply for a Veteran ID card"
        }) }}
    </form>

    <h2 class="govuk-heading-s">Examples and documentation</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
      </li>
      <li>
        <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
