{% extends "layout.html" %} {% block pageTitle %} Start page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Subsection</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a veterans card</h1>
    
    <p>Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Verify that you served in the armed forces</li>
      <li>Apply for a veteran ID card</li>
    </ul>

    <p>
      Use this service to verify that you have served in HM aremed forces. You can do this fort yourself, or on behalf of another living person if you have their permission
    </p>
    
    <p>
     You can use this service if you are (or the person you're requesting information about is):
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>A former member of the armed forces</li>
      <li>Someone who is authorised to verify a former member of the armed forces</li>
    </ul>
    
    <p>
     You can also <a href="#">register by post</a>
    </p>
    
    <p>
     The online service is also available in <a href="#">Welsh (Cymraeg)</a>
    </p>
    
    <p>
     You cannot register for this service if you are in the UK illegally
    </p>

    

    {# <h3 class="govuk-heading-s">What you will need:</h3>

    <p>
      You will need to create an account and prove your identity before you can
      verify you are a veteran and apply for a veteran ID card
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        all of your addresses you have lived at for the past 5 years and the
        dates you lived at them
      </li>
      <li>your service number</li>
      <li>your National Insurance number</li>
      <li>your passport</li>
      <li>your driving licence</li>
      <li>a passport style photo</li>
      <li>your enlistment and discharge dates</li>
    </ul> #}

    {# <h2 class="govuk-heading-m">Before you start</h2>

    <p>
      Do you want to <a href="#">verify veteran status</a> for someone else?
    </p>

    <ol class="govuk-list govuk-list--number">
      <li>
        You will need answer some questions about your military service.<br />
        This will take about 5 minutes.
      </li>
      <li>
        You will then need to verify your identity. The process takes about 15
        minutes and is there to protect you from online fraud.
      </li>
    </ol>

    <h3 class="govuk-heading-s">You will need:</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>a passport or driving licence</li>
      <li>your National Insurance number</li>
      <li>
        details about financial matters such as mortgage, loans or other
        contracts you have
      </li>
      <li>
        a recent passport style photograph of yourself to be used on the card
      </li>
    </ul> #}

    <a
      href="/mod_veteran_verify_what_need"
      role="button"
      draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      data-module="govuk-button"
    >
      Start now
      <svg
        class="govuk-button__start-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="17.5"
        height="19"
        viewBox="0 0 33 40"
        aria-hidden="true"
        focusable="false"
      >
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Request records of deceased service personnel
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Military service records
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Military service request forms
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Military service search forms
            </a>
          </li>
          <li>
            <a href="#">Ministry of Defence medal form</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Veterans UK
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
