{% extends "layout.html" %} {% block pageTitle %} Start page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Subsection</a>
    </li>
  </ol>
</div>

<a class="govuk-back-link" href="/mod_start_veteran_verify">Back</a>
{% endblock %} 



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What you'll need</h1>
    
    <p>We need to ask you some details about yourself and the information you are requesting. This is to ensure that only veterans or people who have permission to access their records use this service.</p>
    
    <h3 class="govuk-heading-m">Verifying your identity</h3>
    
    <p>
     You can do this by:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>using the service on a smart phone or tablet - you'll be able to take a photo with your device's camera later</li>
      <li>taking a photot witha digital camera, smartphone or tablet and transferring it to your computer - for example, by emailing it to yourself</li>
      <li>using a scanner and uploading a scan from your computer</li>
    </ul>
    
    <p>
     You can choose one of the following ID documents to upload a copy of:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>your UK photocard driving licence, showing your home address</li>
      <li>the photo page of your passport</li>
    </ul>
    
    <p>
     Or - any of the following, showing your name and home address, dated within the last three months:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>utility bill</li>
      <li>council tax bill</li>
      <li>bank statement</li>
      <li>a letter from a government department (for example, HMRC or DWP)</li>
    </ul>
    
    <p>
     If you cannot upload copies of your documents, you will need to apply by post instead <a href="https://www.postoffice.co.uk/identity" target="_new">(opens in a new tab)</a>
    </p>
    
    <h3 class="govuk-heading-m">Verifying your own veteran status</h3>
    
    <p>
      If you've served in the armed forces, we'll ask you for the following details to help us find your information:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your service number</li>
      <li>your enlistment and discharge dates</li>
    </ul>
    
    <h3 class="govuk-heading-m">Verifying someone else's veteran status</h3>
    
    <p>
     You'll need to upload proof that you have the authority to verify this person's status. We'll ask you to upload either:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the person's written consent from you to access their information</li>
      <li>a court order (for example, power of attorney) permitting the release of the information requested</li>
       <li>evidence that you work for one of the approved services that are authorised to verify a veteran's status</li>
    </ul>
    
    <p>
     If you cannot any of these, you will need to apply by post instead <a href="https://www.postoffice.co.uk/identity" target="_new">(opens in a new tab)</a>
    </p>
    
    <p>
      We'll ask you for the following details to help us find their information:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>their service number</li>
      <li>details of which service(s) they served with</li>
    </ul>
    
  
    <p>
     If you cannot provide either of these, we'll still process your request but it might take us longer to find your information,</a>
    </p>
    
    <form class="form" action="mod_access_email_radio" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>


  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
        <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Request records of deceased service personnel
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Military service records
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Military service request forms
            </a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Military service search forms
            </a>
          </li>
          <li>
            <a href="#">Ministry of Defence medal form</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/organisations/veterans-uk">
              Veterans UK
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}
