{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
    
    <a class="govuk-back-link" href="/mod_prove_id_start">Back</a>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Prove your identity with a GOV.UK account
      </h1>
      
      <p>You can currently only prove your identity with a your GOV.UK account if you have a UK passport.</p>
      
       <ul class="govuk-list govuk-list--bullet">
        <li>If your passport has expired, you can still use it to prove your identity up until 18 months after the expiry date</li>
      </ul>
      
      <h3 class="govuk-heading-s">What you need to do</h3>
      
      <p>It will take about 10 minutes to prove your identity this way</p>
      
      <p>You will need to create a GOV.UK account first, or sign in if you already have one.<br>
      We will then ask you for your current address and passport details.<br>
      We will also ask you some security questions that only you should know the answers to.<br>
      These could be questions about:
      <ul class="govuk-list govuk-list--bullet">
        <li>your mobile phone contract</li>
        <li>your bank account</li>
        <li>any credit card, loans or mortgages yiu have</li>
      </ul>
      </p>
      
      <p>We will use the information you give us to make sure that you are who you say you are.</p>
      
      <h3 class="govuk-heading-s">Choose a way to prove your identity</h3>
      
      <form class="form" action="mod_prove_id_gov_acc_answer" method="post">
      
          {{ govukRadios({
              idPrefix: "mod_prove_id_gov_acc_radio",
              name: "mod_prove_id_gov_acc_radio",
              fieldset: {
                legend: {
                  text: "",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "mod_prove_id_gov_acc_radio_govuk_account",
                text: "Continue to sign in or create a GOV.UK account",
                checked: checked("mod_prove_id_gov_acc_radio", "mod_prove_id_gov_acc_radio_govuk_account")
              },
              {
                value: "mod_prove_id_gov_acc_radio_govuk_verify",
                text: "Prove your identity another way",
                hint: {
                  text: "You can prove your identity online with GOV.UK Verify or have your identity documents checked in person at a Post Office.",
                checked: checked("mod_prove_id_gov_acc_radio", "mod_prove_id_gov_acc_radio_govuk_verify")
                }
              }
              ]
          }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
{% endblock %}
