{% extends "layout.html" %} {% block pageTitle %} Question page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="/mod_access_email_radio">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Are you requesting information about yourself or someone else?
    </h1>

    <p>
      The person you are requestion information about is referred to as the
      <strong> data subject</strong>. They must be a living person.
    </p>

    <p>
      If you are not the data subject, you will be asked to provide your
      details, as well as the details of the data subject. You will also be
      asked to provide proof that you are allowed to act on their behalf.
    </p>

    <form class="form" action="mod_request_info_you_someone_else_radio_answer" method="post">
    
      {{ govukRadios({
        idPrefix: "mod_request_info_you_someone_else_radio",
        name: "mod_request_info_you_someone_else_radio",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "myself-radio-button",
            text: "Myself",
            checked: checked("mod_request_info_you_someone_else_radio", "myself-radio-button")
          },
          {
            value: "someone-else-radio-button",
            text: "Someone else",
            checked: checked("mod_request_info_you_someone_else_radio", "someone-else-radio-button")
          }
        ]
      }) }}
      
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    
  </div>
</div>

{% endblock %}
