{% extends "layout.html" %} {% block pageTitle %} {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
{{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
<a class="govuk-back-link" href="/eligibility-two">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"> Enter your email address</h1>


    <form class="form" action="/question_email_address" method="post">
    
    {{ govukInput({
      label: {
        text: ""
      },
      hint: {
        text: "We’ll use this to check if you have a GOV.UK account"
      },
      classes: "govuk-input--width-20",
      id: "question_email_address",
      name: "question_email_address",
      type: "email",
      value: data["question_email_address"],
      autocomplete: "email",
      spellcheck: false,
      errorMessage: error
    }) }}
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
         About GOV.UK accounts
        </span>
      </summary>
      <div class="govuk-details__text">
      <p>The GOV.UK account is a new service that allows you to log in to all your government accounts with one sign-in. 
      <ul>
        <li>(pages relating to GOV.UK account - both confirming you’ve been signed in or directing you to set one up out of our scope)
        </li>
        <li>(post GOV.UK sign in or account creation)
        </li>
      </ul>
      </div>
    </details>
    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
