{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/question_service_number">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <form class="form" action="/question_discharge_date" method="post">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group"         aria-describedby="dob-hint">
  
    <legend class="govuk-fieldset__legend   govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What year did you start your service?
      </h1>
    </legend>
  
     
    {{ govukDateInput({
      id: "enlistment-year",
      namePrefix: "enlistment-year",
      fieldset: {
        legend: {
          text: "",
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For example, 1970"
      },
      items: [
        {
          classes: "govuk-input--width-4",
          name: "year",
          value: data['enlistment-year-year']
        }
      ]
    }) }}
    </fieldset>
  </div>
  
      {{ govukDetails({
          summaryText: "How to find this",
          text: "You can find this on your discharge letter or other forms of documentation. If you can't remember the exact year then put an estimate."
      }) }}

     <button class="govuk-button" data-module="govuk-button">Continue
     </button>
  </form>
  
    </div>
  </div>

{% endblock %}
