{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
  <a class="govuk-back-link" href="/question_served_with">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="question_id_route" method="post">

       {% from "govuk/components/radios/macro.njk" import govukRadios %} 
       
       {{ govukRadios({
        idPrefix: "id_choice",
        name: "id_choice",
        fieldset: {
          legend: {
            text: "What format do you want your veteran's ID card in?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Physical card",
            text: "Physical card",
            checked: checked("id_choice", "Physical card")
          },
          {
            value: "Digital card",
            text: "Digital card",
            checked: checked("id_choice", "Digital card")
          },
          {
            value: "Physical and Digital",
            text: "Both",
            checked: checked("id_choice", "Physical and Digital")
          }
        ],
        errorMessage: error
      }) }}
       
       <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How do I use my card
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The ID card is issued as both a physical card (like a driving licence) and a digital card, which you can store on a smartphone or other digital device.</p>
          <p>Both of them can be used face to face, by presenting them in person. They can also both be used online or over the phone by providing the unique identification number.</p>
        </div>
      </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
