{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
  <a class="govuk-back-link" href="/question_enlistment_date">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/question_choice_discharge_date" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group"    aria-describedby="dob-hint">
            
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What year did you leave the service?
                </h1>
              </legend>
              
              {{ govukDateInput({
                id: "discharge-year",
                namePrefix: "discharge-year",
                fieldset: {
                  legend: {
                    text: "",
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                hint: {
                  text: "For example, 1970"
                },
                items: [
                  {
                    classes: "govuk-input--width-4",
                    name: "year",
                    value: data['discharge-year-year']
                  }
                ],
                errorMessage: error
              }) }}
            </fieldset>
          </div>  

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How to find this
            </span>
          </summary>
          <div class="govuk-details__text">
          <div>
            <p>You can find this on your discharge letter or documentation about your pension. If you don't have these, contact <a href="https://www.gov.uk/guidance/veterans-uk-contact-us" target="_new">Veterans UK</a></p>
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
