{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/govuk_account_sign_in_confirmed">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What was your service number?</h1>

      <form class="form" action="question_service_number_input" method="post">

        {{ govukInput({
          label: {
            
            isPageHeading: true
        },
        classes: "govuk-input--width-20",
        id: "question_service_number",
        name: "question_service_number",
        value: data["question_service_number"],
        errorMessage: error
        }) }}
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with your service number
            </span>
          </summary>
          <div class="govuk-details__text">
          <div>
            <p>If you don't know your service number, contact <a href="https://www.gov.uk/guidance/veterans-uk-contact-us" target="_new">Veterans UK</a></p>
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
