{% extends "layout.html" %} {% block pageTitle %} {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
{{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
<a class="govuk-back-link" href="/question_address_to_send_to">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Do you want to receive communications for veterans?</h1>
    
    <form class="form" action="/question_vetcard_comms" method="post">

        
        {{ govukRadios({
          classes: "govuk-fieldset__legend--l",
          idPrefix: "question_comms_choice",
          name: "question_comms_choice",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("question_comms_choice", "Yes")
             
            },
            {
              value: "No",
              text: "No",
              checked: checked("question_comms_choice", "No")
             
            }
          ],
          errorMessage: error
        }) }}
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What sort of communications will I be sent?
            </span>
          </summary>
          <div class="govuk-details__text">
          <div>
            <p>We send email and text messages to veterans using GOV.UK Notify.</p>
            <p>These include updates about the support that veterans are eligible for and other relevant information for UK ex armed forces personnel.</p>
          </div>
        </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
