{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
  <a class="govuk-back-link" href="/question_name_from_identity_claim">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What was your name when you left the UK armed forces?</h1>

      <form class="form" action="question_name_at_discharge_input" method="post">

        {{ govukInput({
          label: {
            
            isPageHeading: true
        },
        classes: "govuk-input--width-20",
        id: "first_name_at_discharge",
        name: "first_name_at_discharge",
        value: data["first_name_at_discharge"],
        hint: {
          text: "First name"
        },
        autocomplete: "name",
        spellcheck: false,
        errorMessage: firstNameError
        }) }}
        
        {{ govukInput({
          label: {
            
            isPageHeading: true
        },
        classes: "govuk-input--width-20",
        id: "last_name_at_discharge",
        name: "last_name_at_discharge",
        value: data["last_name_at_discharge"],
        hint: {
          text: "Last name"
        },
        autocomplete: "name",
        spellcheck: false,
        errorMessage: lastNameError
        }) }}
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with your service number
            </span>
          </summary>
          <div class="govuk-details__text">
          <div>
            <p>If you need to check your service number, you’ll find it on your discharge letter or other forms of documentation about your service.</p>
            <p>If you need help with this, contact <a href="https://www.gov.uk/guidance/veterans-uk-contact-us" target="_new">Veterans UK</a></p>
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
