{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/sp4v1_verify_vet_question_enlistment_date">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/sp4v1_verify_vet_prove_id_to_continue" method="post">

       <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group"    aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        The year of discharge from the armed services
      </h1>
    </legend>
   
    <div class="govuk-date-input" id="dob">
      
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric">
        </div>
      </div>
    </div>

  </fieldset>
</div>

{{ govukDetails({
  summaryText: "How to find this",
  text: "You can find this on your discharge letter or other forms of documentation."
}) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
