{% extends "layout.html" %} {% block pageTitle %} Question page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="/sp4v1_behalfOf_apply_create_success">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Upload a photo for your card</h1>

    <form class="form" action="sp4v1_behalfOf_apply_question_ID_choice" method="post">
      {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
      {{ govukFileUpload({ id: "file-upload-1", name: "file-upload-1", label: {
      text: "Upload a file" } }) }} 

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text"> What type of photo? </span>
        </summary>
        <div class="govuk-details__text">
          <p>A passport style photo is acceptable. In your photo you must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>be facing forwards and looking straight at the camera</li>
            <li>have a plain expression and your mouth closed</li>
            <li>have your eyes open and visible</li>
            <li>not have hair in front of your eyes</li>
            <li>
              not have a head covering (unless it’s for religious or medical
              reasons)
            </li>
            <li>not have anything covering your face</li>
            <li>not have any shadows on your face or behind you</li>
          </ul>
        </div>
      </details>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
