{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
    
    <a class="govuk-back-link" href="/sp4v1_behalfOf_prove_veteran_id_radio">Back</a>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Identity verification
      </h1>
      
       <p>You need to verify their identity to continue. You will need to upload a scan or picture of an approved identity document.</p>
       
       <p>If you are assisting a veteran to prove their veteran status only, you will still need to prove their identity.</p>
      
      <h3 class="govuk-heading-s">How would you like to verify identity?</h3>
      
      <form class="form" action="sp4v1_behalfOf_id_verification_radio_answer" method="post">
      
          {{ govukRadios({
              idPrefix: "sp4v1_behalfOf_id_verification_radio",
              name: "sp4v1_behalfOf_id_verification_radio",
              fieldset: {
                legend: {
                  text: "",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "sp4v1_behalfOf_id_verification_radio_passport",
                text: "Upload photo of passport and proof of address",
                checked: checked("sp4v1_behalfOf_id_verification_radio", "sp4v1_behalfOf_id_verification_radio_passport")
              },
              {
                value: "sp4v1_behalfOf_id_verification_radio_driving_licence",
                text:  "Upload photo of photocard driving licence",
                checked: checked("sp4v1_behalfOf_id_verification_radio", "sp4v1_behalfOf_id_verification_radio_driving_licence")
                
              }
              ]
          }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
{% endblock %}
