{% extends "layout.html" %} {% block pageTitle %} Question page template – {{
serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<a class="govuk-back-link" href="/sp4v1_behalfOf_question_name_service">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      What is your relationship to the person you're applyng on behalf of?
    </h1>

    <form class="form" action="sp4v1_behalfOf_relationship_to_radio_answer" method="post">
    
      {{ govukInsetText({
        text: "If you have both a personal and professional relationship, select your professional role. For example, if you are their solicitor, but you are also their civil partner, you should select 'Solictor' instead of 'Civil Partner'."
      }) }}
      
      {{ govukRadios({
        idPrefix: "sp4v1_apply_behalfOf_relationship_to_radio",
        name: "sp4v1_apply_behalfOf_relationship_to_radio",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "service_provider",
            text: "Service provider",
            checked: checked("sp4v1_apply_behalfOf_relationship_to_radio", "service_provider")
          },
          {
            value: "solicitor",
            text: "Solicitor",
            checked: checked("sp4v1_apply_behalfOf_relationship_to_radio", "solicitor")
          },
          {
            value: "civil_partner_spouse",
            text: "Civil Partner/Spouse",
            checked: checked("sp4v1_apply_behalfOf_relationship_to_radio", "civil_partner_spouse")
          },
          {
            value: "sibling",
            text: "Sibling",
            checked: checked("sp4v1_apply_behalfOf_relationship_to_radio", "sibling")
          },
          {
            value: "other",
            text: "Other",
            checked: checked("sp4v1_apply_behalfOf_relationship_to_radio", "other")
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
