{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/sp4v1_behalfOf_apply_upload_photo">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
     {{ govukErrorSummary({ titleText: "There is a problem", errorList: [ { text:
    "Please select an option if you wish to continue", href:
    "/question_ID_choice" } ] }) }}

      <form class="form" action="sp4v1_behalfOf_apply_question_id_choice_answer" method="post">

       {{ govukRadios({
        idPrefix: "question_id_choice",
        name: "question_id_choice",
        fieldset: {
          legend: {
            text: "How do you want your veteran card?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "question_id_choice_physical_card",
            text: "Physical card",
            checked: checked("how-many-balls", "3 or more")
          },
          {
            value: "question_id_choice_digital_card",
            text: "Digital card"
          },
          {
            value: "question_id_choice_both",
            text: "Both"
          }
        ],
      errorMessage: { text: "Please choose an option if you wish to continue"
      }
      }) }}
       
       {{ govukDetails({
        summaryText: "How do I use my card",
        text: "Your card will have a unique card number which some services may ask for. You can use your digital or physicalID card in the same way to prove your veteran status"
      }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
