{% extends "layout.html" %} {% block pageTitle %} {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block beforeContent %} {{ govukPhaseBanner({
tag: { text: "alpha" }, html: 'This is a new service – your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
<a class="govuk-back-link" href="/question_id_type">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Upload a photo for your veteran’s ID card</h1>

    <p>
      Add a recent digital photo of your head and shoulders, with your face
      uncovered
    </p>

    {# <img src="/public/images/govuk_head_photo.png" alt="User photo" /> #} {#
    <h1 class="govuk-heading-s">
      Do you want us to use this image for your card?
    </h1>
    #}

    <p>Your digital photo must be:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>clear and in focus</li>
      <li>in colour</li>
      <li>against a plain, light-coloured background</li>
      <li>your true likeness, with no photoshop or filters</li>
      <li>no smaller than a passport photo and no larger than A4 size</li>
      <li>if you upload a file that's not recognised you'll get guidance on how to upload successfully</li>

    </ul>

    <p>In your photo, you must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>face forwards, looking straight at the camera</li>
      <li>be alone, with no other objects or people</li>
      <li>have a plain expression</li>
      <li>have eyes open and visible, with no hair in front of them</li>
      <li>
        not wear sunglasses, but normal glasses are fine if you typically wear
        them
      </li>
      <li>
        not have a head covering (apart from religious or medical reasons)
      </li>
      <li>not have ‘red-eye’, glare or shadows over your face</li>
    </ul>

    <form class="form" action="upload_photo" method="post">
    
      {{ govukFileUpload(
        { id: "uploaded_user_photo", 
         name:"uploaded_user_photo", 
         label: { text: "Upload a file" }, 
         errorMessage: error }) }}

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
