{% extends "layout.html" %} {% block pageTitle %} {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} 

{% block beforeContent %}
    {{ govukPhaseBanner({ tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({ titleText: "Application complete", html: "Your reference
    number<br /><strong>HDJ2123F</strong>" }) }}

    <p>We have matched your record</p>

    <h3 class="govuk-heading-m">What happens next</h3>

    <p>Your physical card will be delivered by post within 7 working days from today.</p>

    <p>
      For more information on the services and benefits you can access with your
      card visit the
      <a
        href="https://www.gov.uk/guidance/veterans-uk-contact-us"
        target="_new"
        >Veterans UK</a
      >
    </p>

    <h3 class="govuk-heading-m">Before you go</h3>

    <p>We use feedback to make our services better.</p>
    <p><a href="#">Please take the feedback survey</a> (takes 30 seconds)</p>
  </div>
</div>

{% endblock %}
